<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/contact.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ</title>
</head>
<body>
    <header></header>
     <main>
        <div id="contact">
            <form action="">
                <div class="input-text">
                    <label for="name">Họ và tên</label>
                    <input type="text" name="name" id="name" placeholder="Nhập họ tên của bạn...">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Nhập email của bạn...">
                    <label for="phone">Số điện thoại</label>
                    <input type="number" name="phone" id="phone" placeholder="Nhập số điện thoại của bạn...">
                    <label for="content_input">Nội dung</label>
                    <textarea type="text" name="content_input" id="content_input" placeholder="Nội dung liên hệ với chúng tôi..."></textarea>
                    <button name="btn-send">Gửi liên hệ</button>
                </div>
            </form>
        </div>
     </main>
</body>
</html>